/* src/App.css */

/* Variables de Tema */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --form-background: #f0f0f0;
  --button-background: #007bff;
  --button-text-color: #ffffff;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --form-background: #1e1e1e;
  --button-background: #007bff;
  --button-text-color: #ffffff;
}

/* Global Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  gap: 20px;
  position: relative; 
}

/* Formulario */
.form {
  background-color: var(--form-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.form input[type="file"] {
  margin-bottom: 20px;
}

.form button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.form button:hover {
  background-color: #0056b3;
}

/* Imagen */
.image {
  max-width: 100%; 
  height: auto; 
  display: block; 
  border-radius: 8px;
  max-height: 300px;
  object-fit: cover;
}

/* Toggle de Tema */
.theme-toggle {
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1; 
}

.theme-toggle img {
  width: 24px;
  height: 24px;
}

/* Animaciones y Estilos Heredados de CRA */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
